$primary-background: #1c1814;
$secondary-background: #2a241e;
$primary-text: #f5eadd;
$secondary-text: #a89d8d;
$border-color: #4a4137;

$accent-color: #f4a261;
$accent-color-secondary: #e76f51;

$error-color: #f47761;

$white: #ffffff;
$black: #000000;