@use "./styles/reset";
@use "./styles/fonts";
@use "./styles/colors" as color;
@use "./styles/variables" as _var;
@use "sass:color" as sasscolor;

html {
  font-size: 18px;

  @media (max-width: _var.$breakpoint-lg) {
    font-size: 16px;
  }
}

body {
  height: 100%;
  margin: 0;
  background-color: _var.$primary-bg;
  color: _var.$primary-text;
  font-family: _var.$font-family-base;
  font-size: 1rem;
  line-height: _var.$line-height-base;
}

*::selection {
  background: _var.$accent-color;
  color: _var.$primary-bg;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  padding: _var.$spacing-sm _var.$spacing-lg;
  border-radius: 50px;
  border: 2px solid transparent;
  letter-spacing: 1px;;
  font-family: _var.$font-family-headings;
  text-transform: uppercase;
  transition: all 0.3s ease;
  background-color: _var.$accent-color;
  color: _var.$primary-bg;

  &:hover {
    transform: translateY(-3px);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
  }
}

a {
  color: _var.$accent-color;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    color: sasscolor.scale(_var.$accent-color, $lightness: 15%);
    text-decoration: underline;
  }
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
  padding: _var.$spacing-sm;
  border: 1px solid _var.$border-color;
  border-radius: _var.$border-radius-base;
  width: 100%;
  margin-bottom: _var.$spacing-sm;
  font-size: 1rem;
  color: _var.$primary-text;
  background-color: sasscolor.scale(_var.$primary-bg, $lightness: 5%);
  font-family: _var.$font-family-base;

  &:focus {
    outline: none;
    border-color: _var.$accent-color;
    box-shadow: 0 0 0 3px rgba(_var.$accent-color, 0.25);
  }
}

.container {
  width: 100%;
  padding: 0 _var.$spacing-md;
  margin: 0 auto;

  @media (min-width: _var.$breakpoint-sm) {
    max-width: 540px;
  }
  @media (min-width: _var.$breakpoint-md) {
    max-width: 720px;
  }
  @media (min-width: _var.$breakpoint-lg) {
    max-width: 960px;
  }
  @media (min-width: _var.$breakpoint-xl) {
    max-width: 1140px;
  }
}

.text-center {
  text-align: center;
}