<section class="about-container">
  <div class="about-header">
    <img src="HorsesVotingRights.png" alt="Direito de Voto dos Cavalos" class="header-image">
    <h1>Sobre o Sistema de Votação GOHO</h1>
    <p class="subtitle">O poder da comunidade na ponta dos cascos.</p>
  </div>

  <div class="about-content">
    <div class="content-card">
      <h2>O que é o GOHO Voting?</h2>
      <p>
        O GOHO Voting é uma extensão do ecossistema do <strong><a title="Saiba mais"  href="https://goho-view.vercel.app/token" target="_blank" rel="noreferrer noopener nofollow">token GOHO</a></strong>, criada para dar voz à nossa comunidade. Inspirado no funcionamento de uma <strong>Organização Autônoma Descentralizada (DAO)</strong>, este sistema permite que qualquer detentor de tokens GOHO possa propor e votar em iniciativas, decidindo coletivamente os rumos do projeto.
      </p>
    </div>

    <div class="content-card">
      <h2>Como Funciona?</h2>
      <p>
        O processo é simples, transparente e totalmente baseado na blockchain Polygon. As regras são definidas diretamente no smart contract para garantir a lisura do processo:
      </p>
      <ul>
        <li><span class="emoji">📜</span> <strong>Criação de Propostas:</strong> Para criar uma nova proposta, você precisa ter um saldo mínimo de <strong><a title="Saiba mais"  href="https://goho-view.vercel.app/token" target="_blank" rel="noreferrer noopener nofollow">1 GOHO</a></strong>.</li>
        <li><span class="emoji">🗳️</span> <strong>Direito de Voto:</strong> Para votar em uma proposta existente, você também precisa de um saldo mínimo de <strong><a title="Saiba mais"  href="https://goho-view.vercel.app/token" target="_blank" rel="noreferrer noopener nofollow">1 GOHO</a></strong>.</li>
        <li><span class="emoji">🐴</span> <strong>Poder de Voto:</strong> Seu poder de voto é igual ao seu saldo total de GOHO no momento da votação. Se você tem 100 GOHO, seu voto tem peso 100.</li>
        <li><span class="emoji">☝️</span> <strong>Voto Único:</strong> Cada carteira pode votar apenas uma vez por proposta, garantindo que cada participante tenha sua chance de opinar.</li>
      </ul>
    </div>

    <div class="content-card cta-card">
      <h2>Faça Parte da Tropa!</h2>
      <p>
        Sua opinião é fundamental para o futuro do ecossistema GOHO. Conecte sua carteira, explore as propostas e exerça seu direito de voto.
      </p>
      <a [routerLink]="['/vote']" class="cta-button">Ver Propostas</a>
      <a [routerLink]="['/vote']" class="cta-button">Saiba mais sobre token GOHO </a>

    </div>
  </div>
</section>
