@use '../../../styles/variables' as var;
@use "sass:color" as sasscolor;

:host {
  display: block;
  width: 100%;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
}

.about-header {
  text-align: center;
  margin-bottom: var.$spacing-xl;

  .header-image {
    max-width: 250px;
    margin-bottom: var.$spacing-md;
    border-radius: var.$border-radius-base;
  }

  h1 {
    font-size: var.$font-size-lg * 1.5;
    letter-spacing: 1px;
    color: var.$primary-text;
    margin-bottom: var.$spacing-xs;
    font-family: var.$font-family-headings;
  }

  .subtitle {
    font-size: var.$font-size-lg;
    color: var.$secondary-text;
  }
}

.about-content {
  display: grid;
  gap: var.$spacing-lg;
}

.content-card {
  background-color: var.$secondary-background;
  padding: var.$spacing-lg;
  border-radius: var.$border-radius-base;
  border: 1px solid var.$border-color;

  h2 {
    font-size: var.$font-size-lg * 1.2;
    
    color: var.$primary-text;
    margin-bottom: var.$spacing-md;
    border-bottom: 2px solid var.$accent-color;
    padding-bottom: var.$spacing-sm;
    font-family: var.$font-family-headings;
  }

  p,
  ul li {
    font-size: var.$font-size-base;
    line-height: var.$line-height-base;
    color: var.$secondary-text;

    strong {
      color: var.$accent-color;
      font-weight: var.$font-weight-bold;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: var.$spacing-md;

    li {
      margin-bottom: var.$spacing-sm;
     

      .emoji {
        font-size: 1.5rem;
        margin-right: var.$spacing-sm;
        color: var.$accent-color;
      }
    }
  }
}

.cta-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var.$accent-color;
  color: var.$primary-bg;

  h2,
  p,
  strong {
    color: var.$primary-bg;
  }

  h2 {
    border-bottom-color: var.$primary-bg;
  }
}

.cta-button {
  display: inline-block;
  margin-top: var.$spacing-md;
  padding: var.$spacing-sm var.$spacing-lg;
  background-color: var.$primary-bg;
  color: var.$primary-text;
  text-decoration: none;
  font-size: var.$font-size-base;
  
  border-radius: 50px;
  transition: all 0.3s ease;
  font-family: var.$font-family-headings;
  text-transform: uppercase;

  &:hover {
    background-color: sasscolor.adjust(var.$primary-bg, $lightness: 10%);
    transform: translateY(-3px);
  }
}